GEMINI_API_KEY="AQ.______"
QDRANT_URL=__________
QDRANT_COLLECTION_NAME=________
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=_______
LANGSMITH_API_KEY=_____
LANGSMITH_PROJECT="________F"
SUPABASE_URL="https://________.supabase.co"
SUPABASE_KEY="sb_"